### Importando bibliotecas

In [23]:
pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in c:\users\thiag\anaconda3\lib\site-packages (9.0.0)
Note: you may need to restart the kernel to use updated packages.

In [12]:
from selenium import webdriver
from selenium.webdriver.chrome.options import Options
import mysql.connector

### URL & Selenium

In [14]:
url = 'https://www.kabum.com.br/hardware/placa-de-video-vga'

#Selenium
option = Options()
option.headless = True
driver = webdriver.Chrome(options=option)

driver.get(url)

### Conexão MySQL

In [16]:
conexao = mysql.connector.connect(
    host='localhost',
    user='root',
    password='24D@57e2',
    database='bdplacas',
)
cursor = conexao.cursor()

### Extração & Carregamento

In [18]:
for c in range(1, 21):
    try:
        imagem = driver.find_element('xpath', f'//*[@id="listing"]/div[3]/div/div/div[2]/div/main/article[{c}]/a/img').get_attribute('src')
        
        nome = driver.find_element('xpath', f'//*[@id="listing"]/div[3]/div/div/div[2]/div/main/article[{c}]/a/div/button/div/h3/span').text
        
        preco = driver.find_element('xpath', f'//*[@id="listing"]/div[3]/div/div/div[2]/div/main/article[{c}]/a/div/div/span[2]').text
        comando = f'INSERT INTO bdplacas.produtos2 (imagem, nome, preco) VALUES ("{imagem}", "{nome}", "{preco}")'
        cursor.execute(comando)
        conexao.commit() # edita o banco de dados
    except:
        print('Não foi possível extrair as informações')

cursor.close()
conexao.close()

In [27]:
# CRUD

# CREATE
# nome_produto = "chocolate"
# valor = 15
# comando = f'INSERT INTO vendas (nome_produto, valor) VALUES ("{nome_produto}", {valor})'
# cursor.execute(comando)
# conexao.commit() # edita o banco de dados


# READ
# comando = f'SELECT * FROM vendas'
# cursor.execute(comando)
# resultado = cursor.fetchall() # ler o banco de dados
# print(resultado)


# UPDATE
# nome_produto = "todynho"
# valor = 6
# comando = f'UPDATE vendas SET valor = {valor} WHERE nome_produto = "{nome_produto}"'
# cursor.execute(comando)
# conexao.commit() # edita o banco de dados

# DELETE
# nome_produto = "todynho"
# comando = f'DELETE FROM vendas WHERE nome_produto = "{nome_produto}"'
# cursor.execute(comando)
# conexao.commit() # edita o banco de dados

In [27]:
# Query SQL

# CREATE TABLE produtos (
#     imagem VARCHAR(300),
#     nome VARCHAR(300),
#     preco DECIMAL(10,2) 
# );